SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
ABACATEPAY_API_KEY=
NVIDIA_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

GROQ_API_KEY=
# GROQ_MODEL=openai/gpt-oss-20b

# Local: caminho do Chrome/Edge para gerar o certificado, se não estiver no padrão
# CHROME_PATH=C:\Program Files (x86)\Microsoftdge\Application\msedge.exe
